@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #629878;
    color: white;
    padding: 20px;
    text-align: center;
  }

  header h1 {
    color: #c8d6cd;
    font-family: 'Righteous', sans-serif;
  }
  

  nav {
    background-color: #c8d6cd;
    padding: 10px;
    text-align: center;
    font-family: 'Righteous', sans-serif;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  nav ul li a {
    color: #629878;
    text-decoration: none;
    padding: 10px;
  }

  nav ul li a:hover {
    background-color: #629878;
    color: white;
  }

  main {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }


  
/*   
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    overflow: hidden;
  }

  .card img {
    width: 100%;
  }

  .card-body {
    padding: 10px;
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .card-author {
    margin-bottom: 5px;
    font-style: italic;
  }

  .card-year {
    margin-bottom: 5px;
  }

  .card-id {
    margin-bottom: 5px;
  }
  .card-availability {
    font-weight: bold;
    color: green;
  } */

  footer {
    background-color: #629878;
    color: white;
    padding: 20px;
    text-align: center;
  }